* {
    font-family: 'barlow semi condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.clicked-card {
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.aparecer-modal .card {
    position: relative;
    margin: 15px;
    max-width: 800px;
    flex: 1 1 50%;
}

.clicked-card .aparecer-modal {
    width: 100%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.fechar-comment {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(212, 59, 59);
    cursor: default;
}

.cards {
    max-width: 1440px;
    width: 100%;
    margin: 100px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}

.card {
    padding: 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    box-shadow: 26px 26px 10px -5px rgba(0, 0, 0, 0.1);
}

.cards .card:hover {
    transform: translateY(-2px);
}

.card1 {
    background: hsl(263, 55%, 52%);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.card2 {
    background-color: hsl(217, 19%, 35%);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.card3 {
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
}

.card4 {
    background-repeat: no-repeat;
    background-color: hsl(219, 29%, 14%);
    grid-column: 2 / 4;
    grid-row: 2 / 3;

}

.card5 {
    background-color: white;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.header-info h2 {
    font-size: 1.2rem;
}

.info-comment {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 1.6rem;
}

.card1 .info-comment>h1,
.card2 .info-comment>h1 {
    color: white;
}

.card4 .info-comment>h1 {
    color: hsl(0, 0%, 81%);
}

.card3 .info-comment>h1,
.card5 .info-comment>h1 {
    color: hsl(217, 18%, 29%);
    font-weight: 800;
}

.card1 .info-comment>p,
.card2 .info-comment>p {
    color: hsl(0, 5%, 92%);
}

.card4 .info-comment>p {
    color: hsl(0, 2%, 92%);
}

.card3 .info-comment>p,
.card5 .info-comment>p {
    color: hsl(217, 18%, 29%);
}

.info-comment p {
    line-height: 25px;
    font-weight: 400;
}

.card1 .header-info>h2,
.card2 .header-info>h2,
.card1 .header-info>p,
.card2 .header-info>p {
    color: hsl(0, 5%, 92%);
}

.card4 .header-info>h2,
.card4 .header-info>p {
    color: hsl(0, 11%, 95%);
}

.card3 .header-info>h2,
.card5 .header-info>h2,
.card3 .header-info>p,
.card5 .header-info>p {
    color: hsl(217, 18%, 29%);
}

.card1 .header>img {
    border: 3px solid hsl(264, 82%, 80%);
}

.card4 .header>img {
    border: 3px solid hsl(263, 55%, 52%);
}
.attribution{
    padding: 40px 0;
    text-align: center;
}
.attribution a{
    color: hsl(263, 96%, 28%);
    text-decoration: none;
}